.option-checks {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  &:hover {
    color: gray;
  }

  .filter-input[type='checkbox'] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .filter-input[type='checkbox'] + label {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
  }

  .filter-input[type='checkbox'] + label:before {
    content: '';
    position: absolute;
    top: -9px;
    left: 0;
    box-sizing: border-box;
    width: 19px;
    height: 19px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
  }

  .filter-input[type='checkbox']:checked + label:after {
    content: '✔';
    position: absolute;
    top: -9px;
    left: 0;
    width: 19px;
    height: 19px;
    background-color: black;
    color: white;
    text-align: center;
  }
}
