@import '../../styles/variables';
@import '../../styles/color';

.display-none {
  display: none;
}

.tab {
  margin-left: 20px;
}

.font-color-black {
  color: black;
}

.login {
  .container {
    position: relative;
    width: 460px;
    margin: 20px auto;

    .logo {
      width: 80px;
    }

    .page-description-text {
      @include head-1;
    }

    .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .input-box {
        position: relative;
        width: 100%;

        .input {
          width: 100%;
          height: 50px;
          margin-top: 20px;
          padding: 10px;
          border-width: 1px;
          border-radius: 7px;
          font-size: 18px;
        }

        .required-text {
          position: absolute;
          bottom: -23px;
          padding: 10px;
          color: red;
          font-size: 12px;
          font-weight: bold;
        }

        .rex-text {
          color: red;
          white-space: pre-line;
        }
      }

      .select-countries-box {
        margin-top: 20px;

        .select-countries-button {
          margin-right: 10px;
          padding: 10px;
          border: 0px solid $main-dark;
          border-radius: 12px;
          background-color: $main-grey;
          color: $main-white;

          &:hover {
            background-color: $main-dark;
            cursor: pointer;
          }
        }
      }

      .select-countries-modal {
        position: relative;

        .countries-list {
          position: absolute;
          z-index: 999;
          top: -500%;
          right: 50%;
          width: 460px;
          padding: 20px 30px;
          border-radius: 10px;
          background-color: white;

          .country {
            display: inline-block;
            width: 120px;
            padding: 5px;
          }

          .close-modal-button-box {
            display: flex;
            align-items: center;
            justify-content: right;

            & * {
              margin: 5px;
            }

            .close-modal-button {
              width: 50px;
              padding: 5px;
              border: 0px;
              border-radius: 5px;
              background-color: $main-dark;
              color: white;

              &:hover {
                opacity: 80%;
              }
            }
          }
        }
      }

      .find-password-text {
        margin-top: 20px;
      }

      .first-name,
      .last-name,
      .gender {
        width: 30%;
      }

      .agreement-box {
        margin-top: 20px;

        .agreement-checkbox {
          color: #757575;
        }
      }

      .submit-button {
        position: absolute;
        right: 10px;
        bottom: -90px;
        width: 110px;
        margin-top: 30px;
        padding: 12px;
        border: none;
        border-radius: 20px;
        background-color: $main-dark;
        color: $main-white;
        font-weight: bold;

        &:hover {
          opacity: 50%;
          cursor: pointer;
        }
      }

      .open-button-color {
        background-color: $main-dark;
      }

      .close-button-color {
        opacity: 50%;
        background-color: $main-dark;
        &:hover {
          cursor: auto;
        }
      }
    }
  }

  .modal-background-color {
    position: absolute;
    z-index: 100;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 75%;
    background-color: $main-dark;
  }
}
