@import '../../styles/variables';

.display-none {
  display: none;
}

.tab {
  margin-left: 20px;
}

.login {
  .modal-background-color {
    position: absolute;
    z-index: 100;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 75%;
    background-color: black;
  }

  .container {
    position: relative;
    width: 460px;
    margin: 78px auto;

    .page-description-text {
      @include head-1;
    }

    .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .input-box {
        position: relative;
        width: 100%;

        .input {
          width: 100%;
          height: 50px;
          margin-top: 20px;
          padding: 10px;
          border-width: 1px;
          border-radius: 7px;
          font-size: 18px;
        }

        .required-text {
          position: absolute;
          bottom: -23px;
          padding: 10px;
          color: red;
          font-size: 12px;
          font-weight: bold;
        }
      }

      .select-countries-box {
        margin-top: 20px;

        .select-countries-button {
          margin-right: 10px;
          padding: 10px;
          border: 1px solid black;
          border-radius: 10px;
          background-color: #f7f7f7;
        }
      }

      .select-countries-modal {
        position: relative;

        .countries-list {
          position: absolute;
          z-index: 999;
          top: -500%;
          right: 50%;
          width: 460px;
          padding: 20px 30px;
          border-radius: 20px;
          background-color: white;

          .country {
            display: inline-block;
            width: 120px;
            padding: 5px;
          }

          .close-modal-button {
            display: flex;
            align-items: center;
            justify-content: right;
          }
        }
      }

      .find-password-text {
        margin-top: 20px;
      }

      .first-name,
      .last-name,
      .gender {
        width: 30%;
      }

      .agreement-box {
        margin-top: 20px;

        .agreement-checkbox {
          color: #757575;
        }
      }

      .submit-button {
        position: absolute;
        right: 10px;
        bottom: -90px;
        width: 110px;
        margin-top: 30px;
        padding: 15px;
        border: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-weight: bold;

        &:hover {
          opacity: 50%;
          cursor: pointer;
        }
      }

      .open-button-color {
        background-color: black;
      }

      .close-button-color {
        opacity: 50%;
        background-color: black;
        &:hover {
          cursor: auto;
        }
      }
    }
  }
}
