@import '/src/styles/variables';
@import '/src/styles/color';

.category-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  .category-list {
    display: flex;
    height: 65px;

    .category-item {
      @include flexCenter;
      padding: 0 20px;
      font-weight: 700;
      line-height: 100%;
      @include body-2;

      &:hover,
      &::after {
        content: '';
        border-bottom: 2px solid $main-dark;
        cursor: pointer;
      }
    }
  }

  .sub-category {
    position: absolute;
    top: 65px;
    width: 100vw;
    background-color: $main-white;

    .sub-category-box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      height: 280px;
      padding: 40px 0;

      .sub-category-item {
        display: flex;
        justify-content: center;
        width: max-content;
        @include body-2;
        width: 100px;
        line-height: 40px;
      }
    }
  }
}
