@import '/src/styles/variables';
@import '/src/styles/color';

.category-list {
  display: flex;
  overflow: hidden;

  .category-item {
    padding: 12px 20px;
    font-weight: 700;
    @include body-2;

    &:hover {
      border-bottom: 1px solid black;
      cursor: pointer;
    }
    &::after {
      content: '';
      border-bottom: 1px solid black;
    }
  }
}
