* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration-line: none;
  color: initial;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}
