@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin head-1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
}

@mixin head-2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

@mixin head-3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

@mixin body-1 {
  font-size: 20px;
  line-height: 28px;
}

@mixin body-2 {
  font-size: 16px;
  line-height: 24px;
}

@mixin body-3 {
  font-size: 12px;
  line-height: 14px;
}
