@import '../../styles/variables';
@import '../../styles/color';
.product-detail {
  padding-top: 100px;
  .product-detail-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 80px;

    .product-region {
      color: $main-grey;
    }
    .product-detail-img {
      width: 535px;
      height: 665px;
    }
    .product-detail-summary {
      position: relative;
      @include body-2;

      .language-switch-section {
        position: absolute;
        top: 0;
        right: 0;

        .switch-button {
          border: 0;
          background-color: transparent;
          .switch-img {
            width: 25px;
          }

          &:hover {
            cursor: pointer;
          }

          &:active {
            scale: 0.9;
          }
        }
      }

      .font-layout {
        @include head-2;
        width: 400px;
      }

      .product-price {
        margin-bottom: 5px;
        padding: 30px 0;
      }

      .description {
        @include body-2;
        width: 400px;
        padding-bottom: 10px;
      }
    }
  }
}
