@import '../../../styles/variables';

.shipping-address {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(117, 117, 117);
  @include body-2;
  .shipping-address-title {
    padding-bottom: 24px;
    @include head-3;
  }
  .same-as-orderer:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  div {
    .input-last-name {
      width: 342px;
      height: 56px;
      margin-right: 15px;
      padding: 0 13px;
      border: 1px solid rgb(117, 117, 117);
      border-radius: 10px;
    }
    .input-first-name {
      width: 342px;
      height: 56px;
      padding: 0 13px;
      border: 1px solid rgb(117, 117, 117);
      border-radius: 10px;
    }
  }
  .hint-name {
    .hint-last-name {
      margin-right: 255px;
      padding: 0 13px;
      color: red;
      @include body-3;
    }
    .hint-first-name {
      padding: 0 13px;
      color: red;
      @include body-3;
    }
  }
  .input-address {
    width: 699px;
    height: 56px;
    padding: 0 13px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 10px;
  }
  .hint-address {
    padding: 5px 13px;
    color: red;
    @include body-3;
  }
  .shipper-information {
    .input-phone-number {
      width: 342px;
      height: 56px;
      margin-right: 15px;
      padding: 0 13px;
      border: 1px solid rgb(117, 117, 117);
      border-radius: 10px;
    }
    .input-email {
      width: 342px;
      height: 56px;
      padding: 0 13px;
      border: 1px solid rgb(117, 117, 117);
      border-radius: 10px;
    }
  }
  .hint-information {
    margin-bottom: 24px;
    .hint-phone-number {
      margin-right: 230px;
      padding: 0 13px;
      color: red;
      @include body-3;
    }
    .hint-email {
      padding: 0 13px;
      color: red;
      @include body-3;
    }
  }
}
