@import '../../styles/variables';

.nav {
  position: fixed;
  top: 0;
  width: 100%;

  .nav-container {
    width: 100%;

    .nav-user-section {
      background-color: #f5f5f5;

      .user-section-main {
        display: flex;
        align-items: center;
        width: max-content;
        width: 100%;
        height: 35px;
        padding: 0 40px;

        .nav-link-box {
          position: absolute;
          right: 0;
          margin-right: 50px;

          .link {
            padding-right: 10px;
            color: black;
            text-decoration: none;
            @include body-3;

            &:visited &:hover &:focus &:active {
              text-decoration: none;
            }

            &:hover {
              opacity: 0.5;
            }

            &::before {
              content: '';
              margin-right: 10px;
              border-left: 1px solid black;
            }

            &:first-child::before {
              content: none;
            }
            &:last-child {
              margin-right: 0;
              padding-right: 0;
            }
          }

          .to-login {
            margin-right: 15px;
          }
        }
      }
    }

    .category-section-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 65px;
      padding: 0 40px;

      .logo-link {
        .logo-btn {
          height: 65px;
          border: 0;
          background-color: transparent;

          .logo {
            height: 65px;

            &:hover {
              opacity: 0.5;
              cursor: pointer;
            }
          }
        }
      }

      .like-cart-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100px;

        .link-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          border: none;
          border-radius: 50%;
          background-color: #fff;

          &:hover {
            background-color: #efefef;
            cursor: pointer;
          }

          .icon {
            width: 24px;
            height: 24px;
          }

          .like-icon {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
