@import '../../../styles/color';
.product-information {
  padding-top: 60px;
  text-align: center;
  .description-button-box {
    .description-button {
      width: 330px;
      height: 50px;
      border: 1px solid$main-grey;
      border-radius: 0;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
  .description-img {
    width: 1500px;
    padding-left: 100px;
  }
}
