@import '../../../styles/color';
.product-calculation {
  display: flex;
  justify-content: space-between;
  width: 270px;
  .product-count {
    padding: 5px;
    border: 1px solid $main-grey;
    .count {
      border: none;
      background-color: $main-white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .product-calculation-tatal-price {
    padding-top: 7px;
  }
}
